altgraph==0.17.3
beautifulsoup4==4.12.2
browser-cookie3==0.19.0
bs4==0.0.1
certifi==2022.9.24
charset-normalizer==2.1.1
colorama==0.4.6
fileid==0.2.1
future==0.18.2
greenlet==2.0.1
idna==3.4
loguru==0.7.2
lxml==4.9.2
lz4==4.3.2
pefile==2022.5.30
pycryptodomex==3.18.0
pyee==9.0.4
pyinstaller==5.12.0
pyinstaller-hooks-contrib==2022.13
pywin32-ctypes==0.2.0
requests==2.31.0
soupsieve==2.4.1
tqdm==4.65.0
typing_extensions==4.4.0
urllib3==1.26.13
uuid==1.30
win32-setctime==1.1.0
